
.{box-sizing: border-box;}
h1{
    text-align: center;
    margin-top: 30px; 
    background-color: gray;
}
container{
    position: relative;
    /* align-items: center;
    background-color: aqua;
    height: 300px; */
}
div {
    position: relative;
    width: 400px;
    height: 200px;
    color: white;
    background-color:rgb(5, 65, 37);
    border: 2px solid black;
    margin: 10px;
    box-sizing: border-box;
    size: 25px;
    float: left;
    /* text-align: center; */
}
section{
    padding-top :30px;        
}
p{
    color: white;
    padding: 3px;
    width: fit-content;
    height: 25px;
    background-color: brown;
    margin-top: 0px;
    float: right;
    border: 1px solid white;
    /* float: right; */
}
@media (min-width : 992px){
    
    #p1{
        width: 30%;
    }
    #p2{
        width: 30%;
    }
    #p3{
        width: 30%;
    }
}
@media (min-width :768px) and (max-width : 991px){
    #p1{
        width: 45%;
    }
    #p2{
        width: 45%;
    }
    #p3{
        width: 90%;
    }
}
@media (max-width : 767px){
    #p1{
        width: 90%;
    }
    #p2{
        width: 90%;
    }
    #p3{
        width: 90%;
    }
}